h1 {
  text-align: center;
}

form {
  margin-top: 10px;
  max-width: 400px;
  margin: auto;
}

.card {
  max-width: 400px;
  margin: 10px auto;
}

.card-text {
  margin-top: 10px;
  margin-bottom: 10px;
}

.card-text:last-child {
  margin-bottom: 10px;
}
